header {
    background-color: darkblue;
    width: 100%;
    height: 20px;
    margin-bottom: 0.5em;
}

#main {
    display: block;
    height: 400px;
    margin-bottom: 0.5em;
}

#left {
    background-color: purple;
    display: inline-block;
    width: 37%;
    height: 100%;
    float: left;
}

#right {
    background-color: green;
    display: inline-block;
    width: 60%;
    height: 100%;
    float: right;
}

footer {
    background-color: blue;
    width: 100%;
    height: 20px;
}