header {
    background-color: #4483C7;
    height: 35px;
}

header h1 {
    padding: 5px 0 0 15px;

}

header h1 a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

#main {
    width: 98%;
    margin: 0 auto;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#main > p {
    font-weight: bold;
    padding: 20px 0 20px 0;
}

#main article {
    border: 2px solid #538620;
    margin-bottom: 10px;
    background-color: #FFFFEE;
}

#main article h2 {
    background-color: #538620;
    color: white;
    font-weight: bold;
    font-size: 1em;
    padding: 5px;
}

#main article p {
    padding: 8px;
    font-size: 1em;
}

.foot a, span {
    color: gray;
    text-decoration: none;
    font-size: 0.9em;
    display: block;
    padding: 2px 0 2px 8px;
}

.foot a {
    padding-bottom: 10px;
}

